<% div_for comment, :class => 'ui-body ui-body-c' do %>
  <h4><%= comment.normalized_url ? (link_to comment.name, comment.normalized_url) : comment.name%> </h3>
  <h6><%=h comment.published_on.to_s(:public) %></h6>
  <%= Sanitize.clean(comment.body, Sanitize::Config::BASIC) %>
<% end %>
