<h1>Comments</h1>
<table>
  <% @comments.each do |comment| %> 
    <tr id="<%= comment.dom_id %>">
      <td><%=h comment.body %></td>
      <td class="action"><%= link_to 'Spam', spam_comment_path(comment), :method => :put %></td>
    </tr>
  <% end %>
</table>
