<% title "Delete Similar Comments" %>
<ul data-role='listview'>
  <li>
<%= link_to "Delete #{@countWithSameName} from #{@comment.name}", similar_comments_path(:id => @comment.id), :confirm => 'Are you sure?', :method => :delete %>
  </li>
</ul>
<div data-role='footer' class='ui-bar' data-theme='b'>
  <%= link_to "Cancel", comments_path %>
</div>
