body {
  background: white;
  color: navy;
  padding: 0px;
  margin: 0px;
}

h1 {
  background: navy;
  color: white;
  padding: 10px;
  margin-bottom: 2px;
}
  
a, a:visited {
  color: inherit;
}

.draft {
}

.published {
  font-weight: bold; 
}

table {
  border-collapse: collapse;
  width: 100%;
}
table, tr {
  border: 2px solid navy; 
}
td {
  padding: 6px;
}
.action {
  text-align: center;
  background: navy;
  color: white;
}
.action  a {
  font-weight: normal;
  text-decoration: none;
}
