body {
  background: white;
  color: navy;
  padding: 0px;
  margin: 0px;
}

h1 {
  background: navy;
  color: white;
  padding: 10px;
  margin-bottom: 2px;
  margin-top: 0px;
}
  
.notice {
  color: white;
  background: navy;
  margin-top: 0px;
  padding-left: 10px;
}

a, a:visited {
  color: inherit;
  line-height: 28px;
}

a:hover {
  color: white;
  background: navy;
}

.draft {
}

.published {
  font-weight: bold; 
}

.content{
  border-left: 10px solid navy; 
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 8px;
}

table {
  border-collapse: collapse;
  border-left: 10px solid navy; 
}
tr {
  border: 2px solid navy; 
}
td {
  padding: 1px 6px 1px 6px;
}
.action {
  text-align: center;
  background: navy;
  color: white;
}
.action  a {
  font-weight: normal;
  text-decoration: none;
  padding: 0px 6px 0px 10px;
  display: block;
}

.action  a:hover {
  color: navy;
  background: white;
}

.fieldWithErrors {
  padding: 2px;
  background-color: navy;
  display: table;
  color: white;
}

#errorExplanation {
  width: 400px;
  border: 2px solid navy;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: white;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: navy;
  color: white;
}

#errorExplanation p {
  color: navy;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#header a {
  margin: 0px 6px 0px 10px;
}
