img {
  max-width: 180px;
  height: auto;
  padding: 3px;
}

.min-width-320px img{
  max-width: 200px;
}

.min-width-480px img{
  max-width: 320px;
}

.min-width-768px img{
  max-width: 100%;
  width: auto;
}
