body {
  background: white;
  color: darkolivegreen;
  padding: 0px;
  margin: 0px;
}

div[data-role=header] h1 {
  margin: 0px;
  padding: 10px;
  text-align: center;
  font-size: 36px; 
  font-weight: bold;
  text-decoration: none;
  background: darkolivegreen;
  color: white;
}

.notice {
  color: white;
  background: darkolivegreen;
  margin-top: 0px;
  padding-left: 10px;
  clear: both;
}

a, a:visited {
  color: inherit;
  line-height: 28px;
}

.menu {
  border-top: 4px solid darkolivegreen;
  border-bottom: 4px solid darkolivegreen;
}
.menu a {
  padding: 3px 7px;
  font-size: 16pt;
  font-weight: bold;
  text-decoration: none;
  margin-left: 20px;
}
.menu a:hover {
  color: white;
  background: darkolivegreen;
}

.menu a.selected {
  color: white;
  background: darkolivegreen;
  text-decoration: none;
}
  
.menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.menu li {
  float: left;
  margin: 0px;
  padding: 0px;
}

.draft {
}

.published {
  font-weight: bold; 
}

.content{
  border-left: 10px solid darkolivegreen; 
  margin-bottom: 10px;
  margin-top: 0px;
  padding: 8px;
  padding-top: 0px;
}

.body{
  clear: both;
}

h2{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 4px;
}

h2 a {
  text-decoration: none;
}

h3{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 4px;
}

.date {
  color: white;
  background: darkolivegreen;
  padding: 2px;
  margin-left: -8px;
  padding-left: 8px;
  padding-right: 4px;
  font-size: smaller;
  clear: both;
}

table {
  border-collapse: collapse;
  border-left: 10px solid darkolivegreen; 
}
tr {
  border: 2px solid darkolivegreen; 
}
td {
  padding: 1px 6px 1px 6px;
}
.action {
  text-align: center;
  background: darkolivegreen;
  color: white;
}
.action  a {
  font-weight: normal;
  text-decoration: none;
  padding: 0px 6px 0px 10px;
  display: block;
}

.action  a:hover {
  color: darkolivegreen;
  background: white;
}

.fieldWithErrors label {
  padding: 2px;
  background-color: darkolivegreen;
  display: table;
  color: white;
}

#errorExplanation {
  width: 620px;
  border: 2px solid darkolivegreen;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: white;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: darkolivegreen;
  color: white;
}

#errorExplanation p {
  color: darkolivegreen;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

form {
  width: 620px;
  margin-top: 15px;
}

form input, form textarea {
  padding: 5px;
  width: 471px;
  margin: 0px 0px 10px 0px;
  border: 2px solid darkolivegreen;
}

form textarea {
  height: 90px;
}

/*form textarea:focus, form input:focus {
  border: 2px solid #900;
}*/

form input[type=submit]{
  width: 100px;
  float: right;
  color: white;
  background: darkolivegreen;
}

form input[type=submit]:hover {
  background: darkolivegreen;
}

label {
  float: left;
  text-align: right;
  margin-right: 15px;
  width: 120px;
  padding-top: 5px;
  font-size: 1.4em;
}
