<% title "Home" %>
<div class="content">
<h2>Welcome to Trevor Power's Homepage.</h2>

<p>I don't have much use for a dedicated webpage at the moment but here are some links to my stuff on the web.</p>
<ul>
  <li><a href="http://trevorpower.com/blog/">Blog.</a> (recently moved here)</li>
  <li>Photos.</li>
  <li>LinkedIn.</li>
  <li>Stackoverflow.</li>
  <li>Tadmap</li>
</ul>
One of my on going projects is the develpment of a website that provides services to map collectors.

Tadmap.
Blog.
<div>
