<% title "Home" %>
<% area :home %>
<div class="content">
<h2>Welcome to Trevor Power's Homepage.</h2>

<p>I don't have much use for a dedicated webpage at the moment but here are some links to my stuff on the web.</p>
<ul>
  <li><%= link_to 'Blog', blog_path, :'data-ajax' => 'false' %> (recently moved here)</li>
  <li><a href="http://www.flickr.com/photos/trevor_power">Photos</a></li>
  <li><a href="http://www.linkedin.com/in/trevpower">LinkedIn</a></li>
  <li><a href="http://stackoverflow.com/users/18107/tpower">Stackoverflow</a></li>
</ul>
<p>One of my on going (although I haven't looked at it for over a year) projects is the develpment of a website that provides services to map collectors.
<ul>
  <li><a href="http://tadmap.com">Tadmap</a></li>
  <li><a href="http://blog.tadmap.com">Blog</a></li>
</ul>
<div>
