<% title "Blog" %>
  <div class='content'>
    <a href="http://feeds.feedburner.com/trevorpower">Subscribe</a> to this blog.
  </div>

  <% @posts.each do |post| %>

    <div class='content'>
      <h2><%= link_to post.title, blog_post_path(:slug => post.slug) %></h2>
      <span class='date'><%=h post.published_on.to_s(:public) %></span><br />
      <%= HTML_Truncator.truncate(post.body, 120, "...<br />#{link_to('read more', blog_post_path(:slug => post.slug))}") %>
      <br clear="both"/>
    </div>
      
  <% end %>
