- title "Blog"
%section
  %heading
    %a{:href => "http://feeds.feedburner.com/trevorpower"} Subscribe to this blog
  - @posts.each do |post|
    %article{:id => post.slug}
      %h1= link_to post.title, blog_post_path(:slug => post.slug)
      .date= h post.published_on.to_s(:public)
      - if post.comments.all(:published => true).count > 0
        .comment-summary= pluralize(post.comments.all(:published => true).count, 'comment')
      %p= HTML_Truncator.truncate(Sanitize.clean(post.body), 80, "...").html_safe
