<% title "About" %>
<div class="content">
  <h2>About Me</h2>
  <p>
    <img style="float: left; margin-right: 6px;" title="Trevor Power" src="images/Avatar.jpg" alt="Me" width="194" height="214" />
    My name is Trevor Power and I&#8217;m currently living and working in Limerick, Ireland.</p> 
    <p>I have a degree in <a href="http://www.csis.ul.ie/course/LM051/">Computer Systems</a> from the <a href="http://www.ul.ie/">University of Limerick</a>.</p> 
  <p>After graduating in 2002, I spent four years developing software for Artwork Systems (now <a href="www.esko.com/">EskoArtwork</a>). Here I worked primarily with C++, creating applications targeting Mac OS X.</p> 
    <p>Since 2006 I&#8217;ve been working with .Net for <a title="Kneat - Compliance by design" href="http://www.kneat.com">Kneat</a> as a senior software developer. Here I work with a team of developers on our main ASP.Net application.</p> 
    <p>By far my biggest interest is software development and I spend a lot of my spare time learning and playing with new technologies and techniques. I am developing a website called <a title="Image hosting for map collectors." href="http://tadmap.com">Tadmap</a> for people who collect old maps (my second interest) and this has given me the opportunity to learn and develop other skills such as ASP.Net MVC, Amazon Web Services and Test Driven Development.</p> 
    <p><img style="float: right;" title="My Interests" src="images/DeskTop.JPG" alt="My Interests" width="500" height="331" /></p> 
    <div>This blog is my main presence on the web but you&#8217;ll also find me here:</p> 
    <ul> 
    <li>Flickr for <a href="http://www.flickr.com/photos/trevor_power/">photos</a>, some random photos also appear to the side of this page.</li> 
    <li>If you&#8217;re really interested in what I&#8217;m up to you can <a href="http://twitter.com/trevorpower">follow me on twitter</a>.</li> 
    <li>I also use stackoverflow from time to time, mostly <a href="http://stackoverflow.com/users/18107/tpower">asking questions</a>.</li> 
    <li><a href="http://www.linkedin.com/in/trevpower">Trevor Power</a> on Linked In, I don&#8217;t use this much, but if you know me you might want to link or better still leave a recommendation.</li> 
    </ul> 
    </div> 
    <div style="clear: both;"></div>
  <p>
</div>
<div class="content">
  <h2>About This Website</h2>
  <p>
    This website was using Ruby on Rails as a way of learning this new framework and language.
    <div style="clear: both;"></div>
  <p>
</div>
