$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

body {
  background: $base3;
  margin: 0px;
  padding: 0px;
  color: $base00;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 14pt; 
}

header {
  h1 {
    margin: 0px;
    padding: 0px;
    width: 100%;
    img {
      float: right;
      display: block;
    }
  }
  ul {
    padding: 0px;
    margin: 0px;
    li {
      list-style-type: none;
      display: inline;
      a {
        color: $base01;
        background: $base2;
        text-decoration: none;
        font-size: 22pt;
        padding: 10px;
      }
      a.active {
        color: $base2;
        background: $base01;
      }
    }
  }
}

@mixin page-content {
  clear: both;
  margin: 10px;
  a {
    color: $blue;
    text-decoration: none;
    font-weight: bold;
  }
  img {
    float: right;
    margin-right: -10px;
  }
}

section {
  @include page-content; 
  h1 {
    font-size: 30pt; 
  }
}

article {
  @include page-content; 
  h1 {
    font-size: 22pt;
    padding-bottom: 0px;  
    padding-top: 0px;  
    margin-bottom: 0px;  
    margin-top: 0px;  
  }
  .date {
    margin: 0px;
    padding: 0px;
    color: $base01; 
    font-weight: bold;
    font-size: 11pt;
  }  
  .comment-summary {
    margin: 0px;
    padding: 0px;
    color: $red; 
    font-weight: bold;
    font-size: 11pt;
  }
  p {
    margin-top: 0px;
  }
}

@media all and (max-width: 800px) {
  header
  {
    h1 img {  
      float: none;
    }
    ul {
      margin-top: 20px;
    }
  } 
}


.ui-icon-rss
{
  background-image: url(http://s3.amazonaws.com/trevorpower-com-production/jquery-mobile-rss.png);
}

